language: python
python:
- '3.6'
- '3.5'
services:
- postgresql
env:
- DJANGO=2.0 DB=postgres
global:
- PGPORT=5432
before_install:
- cd decide
install:
- pip install -r ../requirements.txt
before_script:
- cp local_settings.example.py local_settings.py
- psql -c "create user decide with password 'decide'"
- psql -c "create database decide owner decide"
- python manage.py makemigrations
- python manage.py migrate
script:
- python manage.py test
addons:
  postgresql: '9.6'
jobs:
    include:
        - stage: deploy
          script: skip
          before_deploy:
              - cd ..
          deploy:
            provider: heroku
            api_key:
                secure: VekKUTMR3hMO3YFgH9tLRMP61lAiqyqorIy76BrifCsK/Nfx/5vG2HjzcS8m8SdHW1Bcd8DF4AIo/8kMPLk7PoE8f9dBKo3CL7P+I/LpRWUk1cPDx+FtRkLVIQfjDigcJXWC6zRS85858LFwqpGSAq3ERPaCSNK9JXQyfXhpTtqOEuAdMkrzthN6yzafpHOzu1f+lv/1PHB1VQe4OhOl+kg7+EAwLDDkoYGE77H5whp5+HljlI/zHqrIvwTRWpE+/KqZ5Lzk0bqLME3f9VDQAxGb2/XDcWiqsfFlLkAxvaUvuLOpx4BfF5Ldemq/mjlfaulPttvV7yOcqm2N3tcFZpjs3aoh6nwgzkpoEbdwzBQ5dCG3DyRtrs9UKga+2zeQJz6vWBVV8HLJ1NSk6HE5FnRlmJukjS3Fwz8IalsMx03ap7K5HDOOcRaVkV6J2l5Cyxx4KVpq9aMthUB4xuZA9yIOAyphDmYfP3X83Z2nHxGApIdDZmGTRC7e0Fh8+sMLvOL1XkP+ffZno18vgzJVI3ruf8PO2lNxhsBVnjz06Oaa9g9hca+m9AEM9nGzWl18cYsQ9kwmenDRZwTCGrDA4ZHAkTDBi9UTf3bNiom1Z5G8IG2XRSa+8JeMhze5zyEG3+YFplpiFUKZGrt6owMMGgGUX/vPkxTz0wy/AGidj4Y=
            app: locaste-decide
