{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <meta charset="utf-8" />
        <title>{% block title %}Decide Locaste!{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <header>
        <a href="/"><img src="{% static 'decide.jpg'%}" alt="Decide Locaste" width="15%" height="200px" class="img-fluid rounded mx-auto d-block"></a>
        </header>
        {% block content %}
        {% endblock %}

        {% block extrabody %}{% endblock %}
    </body>
    <footer>
        <br><br>
        <h5 class="blockquote text-left">Decide Locaste 2019 &copy; </h5>
    </footer>
</html>
