{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <style>
      .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
      }
      
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>

    <h1>{{ voting.name }}</h1>

    <div id="census_form">
        <label for="voter_id">{% trans "User IDs" %}</label>
        <input type="text" id="voter_id" name="voter_id" value=""/>
        {%trans "(You can put multiples IDs, separating them by commas)" %}
        <br/><br/>
        <input type="file" id="fileUpload" />
        <input type="button" id="upload" value="Add Excel to census" onclick="Upload()"/><br><br>
        <input type="submit" value="{% trans "Add to census" %}" onClick="addToCensus()"/>
        <input type="submit" value="{% trans "Remove from census" %}" onClick="removeFromCensus()"/>
    </div>

<script>
        //var token = null;
        //var user = null;

        function getData(url) {
            // Default options are marked with *
            var fdata = {
                method: 'GET',
            };

            //if (token) {
            //    fdata.headers['Authorization'] = 'Token ' + token;
            //}

            return fetch(url, fdata)
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    return Promise.reject(response.statusText);
                }
            });
        }

        function postData(url, data) {
            // Default options are marked with *
            var fdata = {
                body: JSON.stringify(data),
                headers: {
                    'content-type': 'application/json',
                },
                method: 'POST',
            };

            //if (token) {
            //    fdata.headers['Authorization'] = 'Token ' + token;
            //}

            return fetch(url, fdata)
            .then(response => {
                if (response.status === 201) {
                    return response.json();
                } else {
                    return Promise.reject(response.statusText);
                }
            });
        }

        function deleteData(url, data) {
            // Default options are marked with *
            var fdata = {
                body: JSON.stringify(data),
                headers: {
                    'content-type': 'application/json',
                },
                method: 'DELETE',
            };

            //if (token) {
            //    fdata.headers['Authorization'] = 'Token ' + token;
            //}

            return fetch(url, fdata)
            .then(response => {
                if (response.status === 204) {
                    return "Voters deleted from census";
                } else {
                    return Promise.reject(response.statusText);
                }
            });
        }

        function addToCensus() {

            var voters = document.querySelector("#voter_id").value.split(",");
            var data = {
                voting_id: {{voting.id}},
                voters: voters
            };
            //getData("{{census_url}}" + "/census/?voting_id="+{{voting.id}})
            postData("{{census_url}}" + "/census/", data)
            .then(data => {
                //document.cookie = 'decide='+data.token+';';
                //token = data.token;
                alert(data);
            })
            .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
            });
        }

        function removeFromCensus() {
            var voters = document.querySelector("#voter_id").value.split(",");
            var data = {
                voters: voters
            };
            deleteData("{{census_url}}" + "/census/" + {{voting.id}} + "/", data)
            .then(data => {
                //document.cookie = 'decide='+data.token+';';
                //token = data.token;
                alert(data);
            })
            .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
            });
        }
        function Numeros(excelRows){
            var out = [];
            var filtro = '1234567890';//Caracteres validos
            var valSplit = excelRows.split(",");
            var secondOut = [];
            for (var j=0; j<valSplit.length; j++){
                var firstOut = ''
                if(! isNaN(valSplit[j])){
                    var string = valSplit[j];
                    //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos
                    for (var i=0; i<string.length; i++){
                        if (filtro.indexOf(string.charAt(i)) != -1){
                            firstOut += string.charAt(i)
                        }
                    }
                    if(firstOut != ""){
                        secondOut = secondOut.concat(firstOut);
                    }
                }
            }
            //Se añaden a la salida los caracteres validos
            out = out.concat(secondOut);
            //Retornar valor filtrado
            return out;
        }

        function AddExcelToCensus(excelRows){
            var voters = Numeros(excelRows);
			//var voters = array.split(",");
			console.log(voters)
            var data = {
                voting_id: {{voting.id}},
                voters: voters
            };
            postData("{{census_url}}" + "/census/", data)
            .then(data => {
                alert(data);
            })
            .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
            });
        }

        function Upload() {
        //Reference the FileUpload element.
        var fileUpload = document.getElementById("fileUpload");

        //Validate whether File is valid Excel file.
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx|.ods)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();

                //For Browsers other than IE.
                if (reader.readAsBinaryString) {
                    reader.onload = function (e) {
                        ProcessExcel(e.target.result);
                    };
                    reader.readAsBinaryString(fileUpload.files[0]);
                } else {
                    //For IE Browser.
                    reader.onload = function (e) {
                        var data = "";
                        var bytes = new Uint8Array(e.target.result);
                        for (var i = 0; i < bytes.byteLength; i++) {
                            data += String.fromCharCode(bytes[i]);
                        }
                        ProcessExcel(data);
                    };
                    reader.readAsArrayBuffer(fileUpload.files[0]);
                }
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid Excel file.");
        }
    };
    function ProcessExcel(data) {
        //Read the Excel File data.
        var workbook = XLSX.read(data, {
            type: 'binary'
        });

        //Fetch the name of First Sheet.
        var firstSheet = workbook.SheetNames[0];

        //Read all rows from First Sheet into an JSON array.
        //var excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
		var excelRows = XLSX.utils.sheet_to_csv(workbook.Sheets[firstSheet]);
		console.log(excelRows);
		console.log(excelRows.length);
		if(excelRows.length != 0){
		    AddExcelToCensus(excelRows);
		}
    };

</script>

{% endblock %}

{% block extrabody %}

{% endblock %}